#header
{
	position:;
	background: #353535;
	width:100%;
	height:40px;
	top:0px;
	left:0px;
	z-index:100000;
	font-family:SourceSansProLight;
	font-size:0.8em;
	transition: 0.3s;
	z-index: 10000;

}

nav a {text-decoration: none; color:#2c2c2c}
#sousheader
{
	position:relative;
	width:100%;
	height:40px;
	margin-top:0px;
	background: #f9f9f9;
	display:block;
	overflow:hidden;
	z-index:1000;
	text-align:center;
	text-decoration: none;
	font-size:1.5em;
	font-family:SourceSansProLight;
	transition:0.2s;
	box-shadow: 0px 1px 5px 0px #c2c2c2;
}


#sousheader .fixed {
    position:fixed;
    top:0px;
}

/*boutons header*/




.bh2
{
	float:right;
	margin-right:20%;
	padding-left:5px;
	padding-right: 5px;
	height:100%;
	line-height:40px;
	text-decoration:none;
	width: 120px;
}




.bh2 a {text-decoration:none;color:white;width: 0}
.bh2 p{display:inline;float:left;margin-top:0;font-size: 11pt;margin-left: 5px}

.account
{
	width:35px;
	float:left;
	margin-top: 2px ;
	margin-right:5px;
}

.flecheMonCompte
{
	display:inline;
	margin-top:18px;
	margin-left:5px;
	height: 5px;
	float:left;
	cursor:pointer;
}

.univ,.iut {float:left; margin-left:0px; height:100%;padding-left:1%;padding-right:1%;min-width:80px;}
.univ {border-right:solid 1px grey;border-left:solid 1px grey;}


/*boutons sous header*/

.home
{
	display:inline;
	position:absolute;
	left:7px;
	height:75%;
	margin:5px auto;
	width:1.8%;
	min-width: 30px;
}
.home:hover{cursor:pointer;height:74%;}

.bsh1,.bsh2,.bsh3
{
	float:left;
	display:inline;
	margin-left:0;
	width:8%;
	min-width:70px;
	height:100%;
	text-align:center;
	text-decoration:none;
	line-height:40px;
	transition:0.7s;
}

.bsh1
{
	margin-left:36.75%
}


#search
{
	float:left;
	display:block;
	margin-left:0px;
	padding:0px;
	width:2.3%;
	min-width:45px;
	height:100%;
	background:#FFA500;
	color:white;
	line-height:40px;
	overflow:hidden;
	transition:0.6s;
}

#search.anim1,#search:hover {width:250px}
#search:hover  .bsh4{width:200px;visibility:visible;opacity:1;transition:  0.7s;transition-delay : 0.2s}
#bsh4.anim2,#bsh4:hover .bsh4{width:200px;visibility:visible;opacity:1;transition-delay : 0.2s;}

.bsh4
{
	visibility:hidden;
	opacity:0;
	float:left;
	outline:none;
	font-size:0.7em;
	width:0px;
	height:80%;
	margin-top:4px;
	margin-left:5px;
	border-radius:2px;
	cursor:auto;
	transition:  0.0s;
	border:none;

}

.loupe{float: right;width:40px;margin:0;cursor:pointer;}

.bsh1:hover, .bsh2:hover, .bsh3:hover
{
	background: #f1f1f1;
	cursor:  pointer;
	transition:0.2s;
	height:95%;
	border-bottom: 5px solid #FFA500;
}
.bsh1:active, .bsh2:active, .bsh3:active{background:#e2e2e2;transition:0s;color:#333333}
