#boxCours
{
	width:70%;
	margin:auto;
	margin-top:130px;
	margin-bottom:70px;
	overflow:hidden;
}

h2
{
	color:#FFA500;
	margin-top:0;
	text-align:left;
	margin-bottom:30px;
	whidth:100%;
	border-bottom: 1px solid #FFA500;
	cursor: pointer;
}

#coursS1,#coursS2,#coursS3,#coursS4
{
	margin:auto;
	width:100%;
	display:none ;
	min-width:500px;
	margin-left:0%;
	margin-top: 20px;
	text-align:center;

}




#boxCours  .liensCours{display:inline-block;}

.cours
{

	min-width: 115px;
	margin-left:30px;
	margin-right:30px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	padding: 0;
}
.iconCours
{
	width:50px;
	height:50px;
	border-radius:15px;
	margin:auto;
	overflow: hidden;;
}
.iconCours img
{
	width:100%;
}

.liencours
{
	margin-top: 0px;
	background: ;
	min-width: 100%;
}

#boxCours a p {line-height:0px;text-align:center;width:150px;}

.listeBoutons {
    width: 200px;
    margin: auto;
    padding: 0px;
    text-align: center;
}

.listeBoutons li {
    display: inline-block;
}

.listeBoutons a {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-decoration: none;
}

.listeBoutons a:hover {
    cursor: pointer;
    background: #EA7B00;
    color: #fff;
}

#boutonDemandeTutorat{
  border: none;
  padding: 8px 15px 8px 15px;
  background: #59bd00;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
}

#boutonDemandeTutorat:hover{
  cursor: pointer;
  background: #499c00;
  color: #fff;
}
