a
 {
	text-decoration:none;
	color:  #FFA500;
}

#boxCours
{
	width:70%;
	margin:auto;
	margin-top:4%;
	margin-bottom:70px;
	overflow:hidden;
}

#boxCours table
{
	color:#353535;
	margin-bottom:2%;
}

#boxCours li
{
	color:#FFA500;
	text-align:left;
	font-size:1.8em;
	list-style-type:none;
	margin-bottom:2%;
	width:100%;
	border-bottom: 1px solid #FFA500;
	cursor: pointer;
}

#coursS1,#coursS2,#coursS3,#coursS4
{
	margin:auto;
	width:90%;
	display:none ;
	min-width:500px;
	margin-left:0%;
	margin-top: 20px;
	text-align:center;
}

#boxCours td
{
	border:none;
	margin-top:0;
	margin-bottom:2%;
	font-size:1.2em;
	opacity:0.8;
}

#boxCours td:hover
{
	opacity:1;
}

#titreSujet
{
	text-align:left;
	font-size:1.2em;
	width: 50%;
	margin-left: 5%;
	margin-top: 70px;
	font-weight:normal;

}

#reponses
{
	margin: 0 10% 0 10%	;
	width: 80%



}

table 
{
    border-collapse: collapse;
    width: 98%;
	margin:0 1% 0 1%;
}

th
{
	font-size:1.3em;
	background-color: #353535;
	color:  #FFA500;
	word-break: break-all;
}

th, td
 {
    text-align: left;
    padding: 8px;
}

td{border-bottom: 1px solid #353535}

#reponses tr:nth-child(even){background-color: #f2f2f2}

table a
{
	text-decoration:none;
	color:black;
}

input[type=text]
{
	width: 80%;
	padding: 0.5% 0.8%;
	box-sizing: border-box;
}

#message
{
	height:70px;
	width: 80%;
	word-break: break-all;
	padding: 0.5% 0.8%;
	box-sizing: border-box;
}

.erreur
{
	margin: 1% 35% 0 35%;
	color:red;
	font-size:0.9em;
	font-weight:bold;
}

#sujet, #rep
{
	width:80%;
	word-break: break-all;

}

#sujet, #modules
{
	font-weight:bold;
}

#modules a
{
	padding:2% 5% 2% 0;
}

.nomSujet
{
	font-size:1.7em;
	margin:0;
	padding:0;
}

.createurSujet
{
	font-size:0.7em;
	margin:0 0 0 2%;
	padding:0;
}

#modules:hover
{
	background-color:#f2f2f2;
}

.date
{
	font-size:0.6em;
	color: #BFBFBF;
}

.dateModif
{
	margin-left:5%;
	font-size:0.8em;
	font-weight:bold;
	color: #FFA500;
	font-style:italic;
}

.icone
{
	height:20px;
	vertical-align:center;
	margin:0 0 0 25%;
}

#celluleIcone
{
	width:4%;
}

#dernierMessage, #informations
{
	font-size:0.8em;
	text-align:center;
	width:10%;
	vertical-align:center;
}

#dernierMessage
{
	color: #878787;
}

.valide
{
	font-weight:bold;
	font-style:italic;
	font-size:0.8em;
	color:#FFA500;
}

.suppr
{
	width:2%;
}

.poubelle
{
	height:20px;
	opacity:0.8;
	float:right;
	transition-duration: 0.2s;
}

.poubelle:hover
{
	opacity:1;
}

#informations p, #dernierMessage p
{
	margin:0;
	padding:0;
}

#reponses #informations p, #reponses #dernierMessage p, 
{
	margin:auto;
}

#delete
{
	background-color: white;
    border: 1px solid #555555;
    color: #555555;
	padding:5px 10px;
	float:right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-right:2%;
	opacity:0.9;
}

#delete:hover
{
	background-color: #555555;
    border: none;
	margin:1px 2% 1px 1px;
    color: white;
	opacity:1;
}

#contenu
{
	padding:1%;
}

.avatar
{
	height:50px;
	margin-top:10%;
}

.auteur
{
	font-size:1.2em;
	font-weight:bold;
}

.auteurSec
{
	font-size:1.05em;
	font-weight:bold;
}

.fleche
{
	height:10px;
	margin:10px 10px 0 10px;
}

.button, .buttonEpingle
{
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	opacity:0.7;
	transition-duration: 0.4s;
}

.button:hover, .buttonEpingle:hover
{
	opacity:1;
}

.buttonEpingle
{
	margin-right:1%;
	float:right;
}

#optionsSujet
{
	margin-right:9%;
}

h3
{
	margin : auto;
	margin-top : 1%;
}

#no
{
	width:95%;
	text-align:left;
	margin : 1% 0 1% 2%;
}

#no a, #no span
{
	margin-right: 0.25%;
	margin-left:0.25%;
	font-weight:bold;
	font-size:1em;
}

#no span
{
	margin-left:0.25%;
	margin-right:0.25%;
	font-size:1.2em;
}
