@font-face    {font-family : 'SourceSansProRegular'; src : url('../fonts/SourceSansPro-Regular.ttf');}
@font-face    {font-family : 'SourceSansProSemiBold'; src : url('../fonts/SourceSansPro-Semibold.ttf');}
@font-face    {font-family : 'SourceSansProLight'; src : url('../fonts/SourceSansPro-light.ttf');}



html,body
{
	min-height: 100%;
	min-width:0px;
	margin:0;
	padding:0;
	font-family:SourceSansProRegular;
	font-style: normal;
	background: linear-gradient(#f9f9f9, #f9f9f9	)  ;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#warpper
{

	font-family:SourceSansProLight;
	margin:0px;
	padding: 0;
	text-align:center;
	min-height: 100%;
	overflow: hidden;
}

#menuDeroulant
{
	position: absolute;
	display: none;
	z-index: 100000;
	text-align: left;
	right:20%;
	top:40px;
	padding-left:10px;
	width:120px;
	background: #212121;
	color: whitesmoke;
	opacity: 0.9;
	color: #9a9a9a;

}
#menuDeroulant ul {list-style-type: none;padding:0}
#menuDeroulant li {margin-bottom: 5px;padding-left: 10px;}
#menuDeroulant a {text-decoration:none;color:#9a9a9a;}
#menuDeroulant a:hover {color:#bcbcbc;}

#zoneClick
{
	position: absolute;
	padding-left:5px;
	top:0;
	right:20%;
	width:120px;
	height:40px;
	z-index: 1000000;
	cursor: pointer;


}

/*quand taille reduite*/

@media only screen and (max-width:1200px)
{
	#footer{font-size:1.15	vw;}
	#sousheader {font-size:1.5em	;}
	#sousheader .bsh1,#sousheader .bsh2,#sousheader .bsh3{padding-left:1%;padding-right:1%;transition:0.7s;}
	#sousheader .bsh4{transition:0.7s;}
	#sousheader .bsh1{margin-left:33%;transition:1s}
	#sousheader #search{margin-left: 20px;transition:0.7s;}

	#warpper #coursTutorat{width:60%;margin-left: 20%;margin-right: 20%;}
	#warpper #bullesForum{width:60%;margin-left: 20%;margin-right: 20%;}
	#warpper .matiere{font-size: 13px;}

}
@media only screen and (max-width:950px)
{
	#f3 {display: none;}
}
@media only screen and (max-width:900px)
{
	#warpper #coursTutorat{width:95%;margin-left:2.5%;margin-top:50px;border-right:0px;margin-right:2.5%;}
	#warpper #bullesForum{width:95%;margin-left:2.5%;margin-top:50px;border-right:0px;margin-right:2.5%;}

}
@media only screen and (max-width:800px)
{
	#footer{font-size:8pt;}
	#f1{display:none;}
	#f2{width:100%;text-align:center;}
	#f2 strong,#f2 ul{margin:10px auto;text-align:center;padding: 0;}
	#sousheader #search{display:none;}
	#sousheader .bsh1{margin-left:32%;transition:0.7s}

#zoneClick,#menuDeroulant, .bh2{right:0;margin-right: 0;}
.bh2{transition: 0.2s;}
}
@media only screen and (max-width:550px)
{
	.bh2 p {display:none;}
	.bh2 {width:75px;}
	#warpper .matiere{font-size: 7pt;}
	#warpper #coursTutorat{font-size: 10pt}
}
@media only screen and (max-width:500px)
{
	.univ{display:none;}

}
@media only screen and (max-width:400px)
{
	#sousheader .bsh1,#sousheader .bsh2,#sousheader .bsh3{min-width:57px;font-size: 12pt;margin-right:10px;}
	#sousheader .bsh1{margin-left:50px;}
	.iut{display:none;}
}
