*
{
	font-family:calibri;
}

a
 {
	text-decoration:none;
	color:black;
}

#bloc
{
	display:inline-block;
	width:100%;
}

#banniere
{
	width:90%;
	height:150px;
	box-sizing: border-box;
	background: #ffffff;
	color: #2a2a2a;
	margin: 1% 5% 2.5% 5%;	
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px ;
	background-image : url(../media/images/banniere.png);
	background-size:4%;
	background-position:right-bottom;
}

#banniere h1
{
	font-size:5em;
	padding:2.3%;
	color:#353535;
}

#blocListe
{
	width:15%;
	box-sizing: border-box;
	background: #ffffff;
	color: #2a2a2a;
	float:left;
	margin:auto;
	margin-left: 5%;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px ;
}

#blocListe h3
{
	background-color:#353535;
	color:  #FFA500;
	font-size:0.9em;
	margin-top:0;
	margin-bottom:0;
	padding:1%;
}

#blocListe ul
{
	padding:0;
	margin:0;
}

#blocListe li
{
	list-style-type:none;
	font-size:0.8em;
	text-align:center;
	padding-top:2.5%;
	padding-bottom:2.5%;
	margin:0;
	font-weight:bold;
}

#blocListe li:nth-child(even){background-color: #f2f2f2}

#blocAnnonce
{
	width:50%;
	float:left;
	margin:auto;
	margin-left: 5%;
	margin-right: 2.5%;
}

#blocAnnonce #publier
{
	width:100%;
	box-sizing: border-box;
	color: #2a2a2a;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px ;
	background: #ffffff;
	margin-bottom:10%;
	padding: 1.5%;
}

#blocAnnonce #publier h2
{
	margin-top:0;
}

#message, input[type=text]
{
	height:4%;
	width: 90%;
	padding: 10px 20px;
	word-break: break-all;
	box-sizing: border-box;
	margin-bottom:0;
	opacity:0.8;
}

input[type=text]
{
	margin-bottom:1%;
}

#publier p
{
	margin:0;
	padding:0;
}

.button, .buttonEpingle
{
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 5px 10.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    cursor: pointer;
	margin-top:2%;
	transition-duration: 0.4s;
	opacity:0.7;
}

.button:hover, .buttonEpingle:hover
{
	opacity:1;
}

#blocAnnonce ul
{
	padding:0;
	margin:0;
	width:100%;
}

#blocAnnonce li
{
	width:99.05%;
	list-style-type:none;
	padding:0.5%;
	margin-bottom:5%;
	margin-right:0;
	color: #2a2a2a;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px ;
	background: #ffffff;
	text-align:left;
}

#blocAnnonce li h4
{
	font-size:1.5em;
	margin-top:1%;
	border-bottom:1px solid #353535;
	padding-bottom:1%;
	margin-bottom:0;
}

#blocAnnonce li #informationsAnnonce
{
	font-size:0.9em;
	color: #BFBFBF;
	margin-top : 1%;
	text-align:right;
}

#messageAnnonce
{
	padding:2% 2% 0 2%;
	font-size:1.2em;
	margin-bottom:0;
	margin-left:2%;
	width:90%;
}

#commentaires
{
	font-size:0.8em;
	text-align:right;
	margin-bottom:0;
	font-weight:bold;
}

#commentaires a
{
	color:#FFA500;
	opacity:0.7;
	transition-duration: 0.4s;
}

#commentaires a:hover
{
	opacity:1;
}

.avatar
{
	float:left;
	height:70px;
	margin:1%;
}

/*.flecheOptions
{
	height:6px;
	cursor:pointer;
	margin-left:56%;
	margin-bottom:2%;
}

#options
{
	position:absolute;
	top:40%;
	left;
	text-align: right;
	background: #212121;
	color: whitesmoke;
	opacity: 0.9;
	color: #9a9a9a;
	font-size:0.5em;

}
#options ul {list-style-type: none;padding:0}
#options li {margin-bottom: 5px;padding-left: 10px;}
#options a {text-decoration:none;color:#9a9a9a;}
#options a:hover {color:#bcbcbc;}*/

#blocDevoirs
{
	width:17.5%;
	box-sizing: border-box;
	background: #ffffff;
	color: #2a2a2a;
	margin:auto;
	margin-right: 5%;
	padding:10px;	
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 2px ;
}

