#corpsMonCompte
{

	margin-top:0px;
	padding:50px 0px 10px 0px;
	overflow:hidden;
	font-family:SourceSansProRegular;
}

#boxInfoUser
{
  width:30%;
  min-width: 40%;
  height: 40%;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff$$;
  color: #434343;
  float:left;
  margin:auto;
  margin-left: 32%;
  padding:30px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px ;
}

.usr
{
  width: 20
 %;
  float: left;
  border: 1px solid #353535;
  border-radius: 5px;
  margin-right:25px;
  margin-top: 0px;
}

#boxInfoUser ul
{
  list-style-type: none;
  font-size: 12pt;
  padding: 0;
  text-align: left;
  line-height: 30px;
}


#coursTopics
{
  width: 15%;
  box-sizing: border-box;
  float:left;
  overflow: visible;
  margin-left: 2%;
  

}
.Outils{
	font-weight: bold;
	color: #FFA500;
	font-size: 25PX;
	margin-top:10%;
	margin-bottom:2%;
}
#OUTILS
{
	
  


}

.input{
	border: none;
   padding: 8px 15px 8px 15px;
    margin: 6px;
  
   
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}
.inputPROUT {
	

   border: none;
   padding: 1% 1.5% 1% 1.5%;
    margin: 1% 20% 0% 0%;
	float:left;
    background: #FFA500;
    color:  white;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
	text-decoration:none;
	width:35%;
	
}

.coursConsultes , .topicsConsultes
{
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  margin:auto;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
}


#topicsConsultes
{

}

.coursConsultes h3 , .topicsConsultes h3{
	margin-top: 0px; 
	background: 
	#353535;color:
	#ffffff;}
