#CorpMoyenne{

	
float:left;
font-family:SourceSansProRegular;
 width:40%;
   box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px ;
  box-sizing: border-box;
  background: #ffffff$$;
  color: #434343;
  margin-left:30%;
 
	text-align:center;
	
	
	

}
.page_précédente{
	width: 5%;
	margin-right: 25%
}
#corp{
	margin-top:0px;
	padding:5% 0% 10% 0%;
	overflow:hidden;
	font-family:SourceSansProRegular;
}

table{
	margin:auto;
}



input[type=number] {
 width:100px;
 margin-left:5px;
 color: #FFA500; 
 cursor:pointer;
 }
.UEnull{
 font-weight: bold;
 color: red;
 font-size: 1.3em;
 
}
 
.UE{
 font-weight: bold;
 color: #FFA500;
 font-size: 1.3em;
 
}

th{
	font-size: 25PX;
}

h1 {
	font-size : 42px;
}

.retour{
	border: none;
   padding: 8px 15px 8px 15px;
    margin: 6px;
    background: #FFA500;
    color:  #434343;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}
.Soumettre{
border: none;
   padding: 8px 15px 8px 15px;
    margin: 6px;
  
   
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
	
}