table{
    margin: auto;
    padding: 20px;
}

th, td {
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td {
    padding: 5px 10px;
}

th {
    width: 150px;
    background: #BFBFBF;
    padding: 10px 20px;
}

.colonneHeure{

  background: #ececec;
}

.contenuPlanning{

}

.contenuPlanning:hover{
    cursor: pointer;
    background: #ececec;
}

.listeBoutons{
    width: 200px;
    margin: auto;
    padding: 0px;
    text-align: center;
}

.listeBoutons li{
    display: inline-block;
}

.listeBoutons a{
    background: #FFA500;
    padding: 5px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    color: #353535;
    font-weight: bold;
    text-decoration: none;
}
.listeBoutons a:hover{
    cursor: pointer;
    background: #ff8a00;
    color: #353535;
}
