table {
    margin: auto;
    padding: 20px;

}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

th, td {
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td {
    padding: 5px 10px;
}

th {
    width: 150px;
    background: #BFBFBF;
    padding: 10px 20px;
}

.colonneHeure {
    background: #ececec;
}

td[class=''] {

}

td[class='']:hover {
    cursor: pointer;
    background: #ececec;
}

.Programmation_C {
    background: #EC644B;
    color: #ececec;
    font-weight: bold;

}

.BDA {
    background: #59ABE3;
    color: #ececec;
    font-weight: bold;

}

.BDA:hover, .Programmation_C:hover {
    cursor: pointer;
    background: #26A65B;
    font-weight: bold;
    color: #ececec;
}

.listeBoutons {
    width: 200px;
    margin: auto;
    padding: 0px;
    text-align: center;
}

.listeBoutons li {
    display: inline-block;
}

.listeBoutons a {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-decoration: none;
}

.listeBoutons a:hover {
    cursor: pointer;
    background: #EA7B00;
    color: #fff;
}

#boutonDemandeTutorat{
  border: none;
  padding: 8px 15px 8px 15px;
  background: #59bd00;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
}

#boutonDemandeTutorat:hover{
  cursor: pointer;
  background: #499c00;
  color: #fff;
}

input[type=submit], input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type=submit]:hover, input[type=button]:hover{
    cursor: pointer;
    background: #EA7B00;
    color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    display: none;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -75px;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    display: block;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
